@model BetsMvc.Models.TeamGamesModelView
    
<div class="container statistics">
    <div class="statistics__target">
        Статистика команды по данным критериям:
        <i></i>
        <span class="text-dark">Время и киллы : @Model.ResultStatus%</span>
        <span class="text-dark">Сыграно карт  : @Model.ResultStatusNumber%</span>

    </div>
    
</div>
    @foreach (var g in Model.Games.Where(i => i.Teamid == Convert.ToInt32(ViewData["IdTeam"].ToString())))
    {
        <a class="btn btn-light card__game" data-toggle="collapse" href="#@g.FirstName@g.SecondName" role="button" aria-expanded="false" aria-controls="collapseExample">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Время</th>
                        <th scope="col">Первая команда</th>
                        <th scope="col">Счет</th>
                        <th scope="col">Вторая команда</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>@g.DateTime</th>
                        @if (g.Win)
                        {
                            <th style="color:green">@g.FirstName</th>
                            <th>@g.Score</th>
                            <th style="color:red">@g.SecondName</th>
                        }
                        else
                        {
                            <th style="color:red">@g.FirstName</th>
                            <th>@g.Score</th>
                            <th style="color:green">@g.SecondName</th>
                        }

                    </tr>
                </tbody>

            </table>

        </a>
        <div class="collapse" id="@g.FirstName@g.SecondName">
            <label class="card-title"> Было сыграно # </label>
            @foreach (var m in Model.Maps.Where(i => i.GameId == g.Id))
            {
                <div class="container">
                    <div class="card">
                        <div class="card-header">Номер карты </div>
                        <div class="card-body">
                            <p class="card-text">Убийств: @m.Kills </p>
                            <p class="card-text">Время:@m.Time   </p>
                        </div>
                    </div>
                </div>

            }
        </div>
    }

