@model BetsMvc.Models.TeamGamesModelView
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var t in Model.Teams)
    {
        <a class="btn btn-light" data-toggle="collapse" href="#@t.Name" role="button" aria-expanded="false" aria-controls="collapseExample">

            @t.Name
        </a>
        <div class="collapse contetn__Games" id="@t.Name">
            @{
                ViewData["IdTeam"] = t.Id;
            }
            
            <form action="/Home/Filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
                <div class="col-12 flex-column">
                    
                    <div class="content__target">
                        <div class=" flex-column castom__column">
                            <label class="title__select">Выберите время (больше) </label>
                            <select class="form-control selet__target" id="time" name="time">
                                <option selected>Не важно  </option>
                                <option>39</option>
                                <option>45</option>
                                <option>47</option>
                                <option>48</option>
                            </select>
                        </div>
                        <div class=" flex-column castom__column">
                            <label class="title__select">Выберите убийств (больше) </label>
                            <select class="form-control selet__target" id="kills" name="kills">
                                <option selected>Не важно </option>
                                <option>36</option>
                                <option>37</option>
                                <option>46</option>
                            </select>
                        </div>
                        <div class=" flex-column castom__column">
                            <label class="title__select">Количество карт </label>
                            <input id="NumberGame" name="NumberGame" class="form-control" type="number" max="4" min="1" maxlength="1" value="1" />
                           
                        </div>

                        <input type="submit" value="Фильтр" class="btn btn-info" />
                    </div>                   
                    <input style="display:none" type="number" name="idTeam" value="@t.Id" />
                </div>
            </form>
            <div id="results">
              
                @foreach (var g in Model.Games.Where(i => i.Teamid == t.Id))
                {
                    <a class="btn btn-light card__game" data-toggle="collapse" href="#@g.FirstName@g.SecondName" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Первая команда</th>
                                    <th scope="col">Счет</th>
                                    <th scope="col">Вторая команда</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>@g.DateTime</th>
                                    @if (g.Win)
                                    {
                                        <th style="color:green">@g.FirstName</th>
                                        <th>@g.Score</th>
                                        <th>@g.SecondName</th>
                                    }
                                    else
                                    {
                                        <th style="color:red">@g.FirstName</th>
                                        <th>@g.Score</th>
                                        <th>@g.SecondName</th>
                                    }

                                </tr>
                            </tbody>

                        </table>

                    </a>
                    <div class="collapse" id="@g.FirstName@g.SecondName">
                        <label class="card-title"> Было сыграно # </label>
                        @foreach (var m in Model.Maps.Where(i => i.GameId == g.Id))
                        {
                            <div class="container">
                                <div class="card">
                                    <div class="card-header">Номер карты </div>
                                    <div class="card-body">
                                        <p class="card-text">Убийств: @m.Kills </p>
                                        <p class="card-text">Время:@m.Time   </p>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                }
            </div>
        </div>

    }
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
